.botao{
    background: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    padding: 32px;
    border: none;
    cursor: pointer;
    margin: 32px 0;
}

.botao:hover{
    background: #52d65d;
}

